@font-face {
  font-family: 'Inter';
  src: url('./assets//fonts/Inter/static/Inter-Regular.ttf') format('truetype'),
       url('./assets/fonts/Inter/static/Inter-Bold.ttf') format('woff'),
       url('./assets/fonts/Inter/static/Inter-Medium.ttf') format('woff2'),
        url('./assets/fonts/Inter/static/Inter-SemiBold.ttf') format('woff2'),
        url('./assets/fonts/Inter/static/Inter-Light.ttf') format('woff2'),
        url('./assets/fonts/Inter/static/Inter-Thin.ttf') format('woff2'),
        url('./assets/fonts/Inter/static/Inter-ExtraLight.ttf') format('woff2'),
        url('./assets/fonts/Inter/static/Inter-ExtraBold.ttf') format('woff2'),
        url('./assets/fonts/Inter/static/Inter-Black.ttf') format('woff2');
  font-weight: bolder;
  font-style: normal;
}




#root {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

.App{
  width: 100%;
}

.body-wrapper{
  background-color: #F1F5FB;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 89.1vh;
}
.right-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 35px;
}