select {
  -webkit-appearance: none; /* Remove default appearance on Safari */
  -moz-appearance: none; /* Remove default appearance on Firefox */
  appearance: none; /* Remove default appearance on other browsers */

  background-image: url('../../assets/footer-logo2.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px; /* Set the size of your custom icon */
  padding-right: 24px; /* Add some padding to make room for the custom icon */
}

select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px; /* Adjust the position of the custom icon */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px; /* Adjust the size of the custom icon */
  border-color: #000 transparent transparent transparent;
  transform: translateY(-50%);
}