.input-section {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
}
.standard-input-label {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   opacity: 0.8;
   margin-bottom: 10px;
}

.standard-select {
   background: #f1f5fb;
   border: 1px solid #cad9ee;
   border-radius: 10px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   /* line-height: 20px; */
   color: #70737a;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-image: url('../../../assets/dropdown-icon.png');
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: 95% 50%;
   padding: 0px 0px;
}
.standard-select:focus {
   outline: none;
   border: 0px;
}
.standard-select:hover {
   cursor: pointer;
}

.standard-input-select {
   background: transparent;
   border: 0px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #70737a;
   padding: 20px;
   width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.standard-input-select:focus {
   outline: none;
   border: 0px;
}

.infoCard2 {
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   background: #ffffff;
   box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
   border-radius: 10px;

   position: absolute;
   width: 300px;
   top: -30px;
   right: -320px;
   z-index: 2000;
}

.info-popup2 {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   text-align: start;

   color: #000000;
   padding: 15px 30px;
   z-index: 0;
}
.info-title {
   font-size: 'Inter';
   font-size: 16px;
   font-weight: 700;
}
.Video-wrapper {
   opacity: 0.7;
   border-radius: 10px;
   width: 98%;
   height: 180px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.Video-wrapper:hover {
   cursor: pointer;
}
.video-overlay {
   position: absolute;
   background: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.Play-icon {
   width: 45px;
   height: 45px;
   margin-bottom: 10px;
}
.Play-icon:hover {
   cursor: pointer;
   transform: scale(1.1);
   transition: ease-in-out 0.2s;
}

.triangle2 {
   width: 0;
   height: 0;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   border-bottom: 30px solid #ffffff;
   position: inherit;
   top: -0px;
   left: -20px;
   /* right: 0px; */
   border-radius: 10px;
}
