.mainSection-wrapper{
  background: #FFFFFF;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-right: 50px;
}

.nav-section{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.back-btn{
  width: 75px;
  height: 69px;
  border: 1px solid  #727272;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.back-btn:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out;
}
.next-btn:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out;
}

.back-icon{
  width: 20px;
  height: 20px;
}

.next-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 44px;
  gap: 10px;
  width: 180px;
  height: 32px;
  background: #5AEE95;
  box-shadow: 0px 14px 30px rgba(90, 238, 149, 0.4);
  border-radius: 10px;
}