.input-section {
   display: flex;
   flex-direction: column;
   margin-top: 35px;
   margin-right: 10px;
}
.standard-input-label {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   opacity: 0.8;
   margin-bottom: 10px;
   word-wrap: break-word;
}
.standard-input {
   background: #f1f5fb;
   border: 1px solid #cad9ee;
   border-radius: 10px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #70737a;
   padding: 15px !important;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   min-width: 300px !important;

   position: relative;
}

.standard-input:focus {
   outline: none;
   border: 1.5px solid #5aee95;
}

.infoCard5 {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #ffffff;
   box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
   border-radius: 10px;

   position: absolute;
   width: 300px;
   top: 44px;
   left: -9px;
   z-index: 20;
}

.info-popup {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   text-align: center;

   color: #000000;
   padding: 25px 30px;
}
.Video-wrapper {
   opacity: 0.7;
   border-radius: 10px;
   width: 98%;
   height: 180px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.Video-wrapper:hover {
   cursor: pointer;
}
.video-overlay {
   position: absolute;
   background: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.Play-icon {
   width: 45px;
   height: 45px;
   margin-bottom: 10px;
}
.Play-icon:hover {
   cursor: pointer;
   transform: scale(1.1);
   transition: ease-in-out 0.2s;
}

.triangle3 {
   width: 0;
   height: 0;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   border-bottom: 40px solid #ffffff;
   position: inherit;
   top: -20px;
   left: 0px;
   border-radius: 10px;
}
