.admin{
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 100%;
  background-color: #F1F5FB;
}

.side-section{
  width: 200px;
  height: 100%;
  background-color: #F1F5FB;
}