.header-wrapper {
   background-color: #212121;
   padding: 10px;
   padding-right: 35px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: sticky;
   top: 0;
   z-index: 100;
}

.left-section {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.logo-image {
   margin-left: 50px;
   width: 110.93px;
   height: 70.7px;
}

.brand-name {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 27px;
   margin-left: 50px;
   color: #ffffff;
}
.country-name {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 27px;
}

.clearedSelect {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background-color: transparent;
   border: none;
   font-size: inherit;
   font-family: inherit;
   color: inherit;
   padding: 0;
   margin: 0;
   outline: none;
   color: #5aee95;
}
.clearedSelect:hover {
   cursor: pointer;
}

.nav-list {
   display: flex;
   flex: row;
   align-items: center;
}

.logout-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 110px;
   height: 45px;
   background-color: #5aee95;
   border-radius: 5px;
   color: #212121;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   cursor: pointer;
}

.navList-item {
   margin-right: 50px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #d9d9d9;
   cursor: pointer;
}

.navList-item-active {
   font-weight: 700;
   color: #ffffff;
   padding-bottom: 5px;
   border-bottom: 2px solid #5aee95;
}
