.QuestionSection-wrapper{
  height: 100%;
}
.question-header{
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
}
.question-title{
font-weight: 700;
font-size: 34px;
line-height: 41px;
text-transform: uppercase;
}

.question-subtitle{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.input-section{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.standard-input-label{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.8;
  margin-bottom: 10px;
}
.standard-input{
  background: #F1F5FB;
  border: 1px solid #CAD9EE;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #70737A;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.standard-select{
  background-image: url('../../assets/dropdown-icon.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 0px;
  width: 450px;
  padding: 5px 0px;
}
.standard-select:focus{
  outline: none;
  border: 0px;
}

.standard-input:focus{
  outline: none;
  border: 1.5px solid #5AEE95;
}

.input-field{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #70737A;
}

.info-icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.info-icon:hover{
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
  opacity: 0.8;
}

.Subsection-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #212529;
  margin-top: 50px;
}


.standard-input-select{
  background: transparent;
  border: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #70737A;
  padding: 20px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.standard-input-select:focus{
  outline: none;
  border: 0px;
}
